<footer>
    <div class="f-info"style="padding-top: 1rem; padding-bottom: 0.5rem">
        <div class="f-info-socials" >

            <i class="fa-brands fa-square-facebook" style="cursor: pointer;"></i>
            <i class="fa-brands fa-square-instagram" style="cursor: pointer;"></i>
            <i class="fa-brands fa-linkedin" style="cursor: pointer;"></i>
        </div>
        <div class="f-info-brand">&copy; Havenly Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>