<% layout("/layouts/boilerplate")%>
<div class="row mt-3">
  <div class="col-6 offset-3">
    <h3><b>Create a new Listing</b></h3>
    <form
      method="POST"
      action="/listings"
      class="needs-validation"
      novalidate
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title:</label>
        <input
          name="listing[title]"
          placeholder="add a catchy title"
          type="text"
          class="form-control"
          required
        />
        <div class="valid-feedback">Title looks good</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description:</label>
        <textarea
          name="listing[description]"
          type="text"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Please enter a short description.</div>
      </div>

      <div class="row">
        <div class="mb-3 col-md-6">
          <label for="image" class="form-label">Upload Listing Image</label>
          <input
            name="listing[image][url]"
            placeholder="enter image URL"
            type="file"
            class="form-control"
            required
          />
        </div>
        <div class="mb-3 col-md-6">
          <label for="location_type" class="form-label">Select location type</label>
          <select class="form-select " aria-label="Default select example" name="listing[locationType]" required>
            <option value="" disabled selected>Select a location type</option>

            <option value="Mountains">Mountains</option>
            <option value="City">City</option>
            <option value="Castles">Castles</option>
            <option value="Beach">Beach</option>
            <option value="Forest">Forest</option>
            <option value="Farms">Farms</option>
            <option value="Arctic">Arctic</option>
            <option value="Boats">Boats</option>
          </select>
          <div class="invalid-feedback">Please select location type</div>
        </div>
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price:</label>
          <input
            name="listing[price]"
            placeholder="1200"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Price should be valid</div>
        </div>

        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Enter country:</label>
          <input
            name="listing[country]"
            placeholder="India"
            type="text"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Country name should be valid</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location:</label>
        <input
          name="listing[location]"
          placeholder="Jaipur,Rajasthan"
          type="text"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Location should be valid.</div>
      </div>

      <button class="btn btn-dark add-btn mt-3">Add</button>
    </form>
    <br /><br />
  </div>
</div>
